body {
  margin: 0;
}

a.posicioLogo{
  width: 20%;

}
.logo {
  height: 64px;
  float: left;
  margin-left: 50%;
}
.cabecera {
  width: 100%;
  height: 68px;
  display: flex;
  background-color: black;
}

.menu {
  margin-top: 20px;
  width: 60%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-style: normal;
  text-align: center;
}
.menu a {
  color: #fff;
  padding: 0 1em;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.container-Redes {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  width: 10%;
  gap: 10px;
}
.twitter {
  display: flex;
  width: 25px;
  height: 25px;
}
.instagram {
  display: flex;
  width: 25px;
  height: 25px;
}
.linkdn {
  display: flex;
  width: 25px;
  height: 25px;
}
.facebook {
  display: flex;
  width: 25px;
  height: 25px;
}

.personaInicial {
  height: 530px;
  width: 100%;
  /* background-color: aquamarine; */
}

#imagenPrincipal {
  position: absolute;
  width: 100%;
  height: fit-content;
  object-fit: cover;
}
.diseñadorEditor {
  display: flex;
  float: left;
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 185%;
  font-style: normal;
  color: black;
  margin: 5% 0 0 0;
  position: relative;

}

.diseñadorEditorTexto {
  display: flex;
  float: left; 
  width: 40%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: grey;
  text-align: center;
  position: relative;
}

.developer {
  display: flex;
  float: left;
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 200%;
  font-style: normal;
  color: black;
  margin: 5% 0 0 0;
  position: relative;
}
.developerTexto {
  display: flex;
  float: right;
  width: 40%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-style: normal;
  color: grey;
  text-align: center;
  position: relative;
}

.barraIzq {
  background-color: black;
  width: 40%;
  height: 1px;
  margin-top: 50px;
  display: flex;
}
.barraCent {
  background-color: black;
  width: 100%;
  height: 1px;
  margin-top: 50px;
  display: flex;
}
.barraCent2 {
  background-color: black;
  width: 100%;
  height: 1px;
  margin-top: 280px;
  display: flex;
}
.barraCent3 {
  background-color: black;
  width: 100%;
  height: 1px;
  margin-top: 480px;
  display: flex;
}
.barraDer {
  background-color: black;
  width: 40%;
  height: 1px;
  margin-left: 15px;
  margin-top: 50px;
  display: flex;
}
.proyectos {
  background-color: white;
  width: 100%;
  height: fit-content;
  display: flex;
}

.ultimosProyectos {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: -0.333333px;
  color: #000000;
  width: 30%;
  background-color: white;
  margin-top: 20px;
}

.video1 {
  float: left;
  display: flex;
  width: 271px;
  height: 181px;
  background-image: url(/imagenes/crossfit.png);
  border-radius: 13px;
  margin: 5% auto 5% auto;
}
.video2 {
  float: left;
  display: flex;
  width: 271px;
  height: 181px;
  background-image: url(/imagenes/yogaCenter.png);
  border-radius: 13px;
  margin: 5% auto 5% auto;

}
.video3 {
  display: flex;
  width: 271px;
  height: 181px;
  background-image: url(/imagenes/windsurf.png);
  border-radius: 13px;
  margin: 5% auto 5% auto;
  float: left;
}

.textovideo1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 33%;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.333333px;
  float: left;
  text-align: center;
}
.textovideo2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 33%;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.333333px;
    float: left;
    text-align: center;
    
}
.textovideo3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 33%;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.333333px;
  float: left;
  text-align: center;
}
.textovideo1b {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 33%;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.333333px;
  float: left;
  text-align: center;
  color:grey;
  margin-top: -1%;
}
.textovideo2b {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 33%;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.333333px;
  float: left;
  text-align: center;
  color: grey;
  margin-top: -1%;
}
.textovideo3b {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 33%;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.333333px;
  float: left;
  text-align: center;
  color: grey;
  margin-top: -1%;
}

.menuInferior {
  width: 100%;
  height: 68px;
  display: inline-flex;
  background-color: black;
  position: fixed;
  bottom: 0%;
}

.nombre {
  width: 20%;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#nombre {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  text-decoration: none;
}

.video1SobreMi {
  float: left;
  display: flex;
  width: 271px;
  height: 181px;
  background-image: url(/imagenes/crossfit.png);
  border-radius: 13px;
  margin-top: 50px;
  margin-left: 150px;
}
.video4 {
  display: flex;
  width: 271px;
  height: 181px;
  background-image: url(/imagenes/windsurf.png);
  border-radius: 13px;
  margin-top: 50px;
  margin-left: 150px;
  float: left;
}
.video5 {
  display: flex;
  width: 271px;
  height: 181px;
  background-image: url(/imagenes/windsurf.png);
  border-radius: 13px;
  margin-top: 50px;
  margin-left: 150px;
  float: left;
}
.skills {
  background-color: hotpink;
  width: 100%;
  height: 500px;
  margin-top: 50px;
  float: left;
}
.diseñoSkill {
  background-color: grey;
  display: flex;
  width: 450px;
  height: 150px;
  float: left;
  margin-left: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2px;
  line-height: 23px;
  color: #fff;
  text-decoration: none;
  margin-top: 75px;
}
.graficoSkill {
  background-color: red;
  width: fit-content;
  height: fit-content;
  margin-left: 35%;
  display: flex;
  margin-top: 0px;
}
.developerSkill {
  background-color: blue;
  display: flex;
  width: 450px;
  height: 150px;
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  text-decoration: none;
}
.blanco {
  background-color: aqua;
  width: 100%;
  height: 500px;
}

.formulari {
  height: fit-content;
  width: 550px;
  display: flex;
  margin: auto;
  background-color: chocolate;
  margin-top: 25px;
}
#formulariContacte {
  margin: auto;
  text-align: center;
}
#email {
  margin-left: 10px;
  padding-left: 10px;
}
.fname {
  margin-left: 15px;
}
#comentari {
  width: 525px;
  resize: none;
}
#contact-submit {
  background-color: green;
}
.menuInferior {
  display: flex;
  object-position: bottom;
}

.contingut {
  padding-bottom: 190px;
  height: max-content;
}

.contenido {
  width: 100%;
  display: block;
  height: 500px;
  margin-left: 30%;
  margin-top: 5%;
  align-content: center;
}

.titolVideoReel {
  font-size: 50px;
  display: flex;
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  text-decoration: none;
  padding-bottom: 50px;
}

.videoRealizado1 {
  float: left;
  display: flex;
  width: 271px;
  height: 181px;
  background-image: url(/imagenes/crossfit.png);
  border-radius: 13px;
  margin-top: 50px;
  margin-left: 18%;
}

.videoRealizado2 {
  float: left;
  display: flex;
  width: 271px;
  height: 181px;
  background-image: url(/imagenes/yogaCenter.png);
  border-radius: 13px;
  margin-top: 50px;
  margin-left: 150px;
}
.videoRealizado3 {
  display: flex;
  width: 271px;
  height: 181px;
  background-image: url(/imagenes/windsurf.png);
  border-radius: 13px;
  margin-top: 50px;
  margin-left: 150px;
  float: left;
}
.videoRealizado4 {
  display: flex;
  width: 271px;
  height: 181px;
  background-image: url(/imagenes/windsurf.png);
  border-radius: 13px;
  margin-top: 50px;
  margin-left: 150px;
  float: left;
}
.clear {
  clear: both;
}

.miniaturas{
  display:flex;
  background-color: aqua;
}
.miniatura1{
  display:flex;
  background-color: blue;
  width: 33%;
}
.miniatura2{
  display:flex;
  background-color: green;
  width: 33%;
}
.miniatura3{
  display:flex;
  background-color: grey;
  width: 33%;
}


@media screen and (max-width: 800px) {
  .cabecera {
    width: 100%;
    background-color: blue;
  }
  .developer {
    display: flex;
    
  }
  .video1 {
    float: left;
    display: flex;
    width: 271px;
    height: 181px;
    background-image: url(/imagenes/crossfit.png);
    border-radius: 13px;
    /* margin-top: 5%; */
    /* margin-left: 530px; */
    margin: 5% 0 0 3.5%;
  }
  .video2 {
    float: left;
    display: flex;
    width: 271px;
    height: 181px;
    background-image: url(/imagenes/yogaCenter.png);
    border-radius: 13px;
    /* margin-top: 50px; */
    margin: 5% 0 0 5%;
  }
  .video3 {
    display: flex;
    width: 271px;
    height: 181px;
    background-image: url(/imagenes/windsurf.png);
    border-radius: 13px;
    /* margin-top: 50px; */
    margin: 5% 0 0 5%;
    float: left;
  }
}
